@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
h1 {
  font-family: "Noto Sans JP";
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
  font-size: 1.6em;
  line-height: 2;
  font-feature-settings: "palt";
}
a {
  text-decoration: none;
  letter-spacing: 0.15em;
}

:link {
  color: #422;
  font-weight: bold;
}
:visited {
  color: #333;
}
:hover,
:active {
  color: #933;
}

em {
  font-style: normal;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th:nth-of-type(odd),
td:nth-of-type(odd) {
  background-color: #fbfbfb;
}

th,
td {
  border: 1px solid #ccc;
  padding: 20px;
}
td input[type^="text"],
td input[type^="email"],
td input[type^="submit"] {
  width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
td input[type^="checkbox"],
td input[type^="radio"] {
  margin: 0 10px 0 30px;
}

th {
  text-align: left;
  vertical-align: top;
}

.logo {
  height: 65px;
  width: 200px;
  text-indent: -9999px;
  background: url("../images/logo.png") 0 0 / cover no-repeat;
}

.gl-footer {
  height: 120px;
  color: #ccc;
  letter-spacing: 0.3rem;
  text-align: center;
  background: #211 url("../images/grunge.jpg") 0 top repeat-x;

  margin-top: 50px;
  padding-top: 50px;
}
.top-welcome {
  height: 640px;
  background: url("../images/main.jpg") center top / cover no-repeat;

  margin-bottom: 30px;
}
.top-main {
  width: 660px;
  float: left;
}

.gl-header {
  height: 140px;

  background: url("../images/wood.jpg") 0 0 / contain repeat-x,
    linear-gradient(
      110deg,
      black,
      rgba(27, 18, 18, 70%) 70%,
      rgba(27, 18, 18, 80%) 100%
    );
  background-blend-mode: hard-light;

  padding-top: 15px;
}

.top-time li,
.top-rank li {
  border-bottom: 1px dotted #ccc;
}

dd:first-of-type:after {
  content: "NEW!";
  color: white;
  font-size: 10px;
  font-weight: bold;
  background-color: #990000;
  border-radius: 3px;
  padding: 3px;
}

.top-side {
  width: 300px;
  float: right;
}

.top-time,
.top-rank {
  border: 1px solid #ccc;
  padding: 20px 30px 20px 400px;
  margin-bottom: 30px;
  height: 300px;
}

.top-time {
  background: url("../images/time.jpg")-290px no-repeat;
}

.top-rank {
  background: url("../images/rank.jpg")-290px no-repeat;
}

.top-side a:hover {
  opacity: 0.7;
}

.menu h3:first-of-type {
  font-size: 2.4rem;
}
/* menu */
.menu h2,
.info h2,
.movie h2,
.contact h2,
.map h2 {
  margin: 50px 0 20px;
  border: 2px dotted #422;
}

.menu {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc;

  padding: 20px 30px;
  margin-bottom: 100px;
}

.menu li {
  border-bottom: 1px dotted #ccc;
}

/* お問い合わせ */
.contact td {
  column-span: 2;
  text-align: center;
}
.contact td input[type^="submit"] {
  column-span: 2;
  letter-spacing: 2em;
  text-indent: 2em;
}

.top-rank [href$="other"]::after {
  font-family: FontAwesome;
  content: "\f18e";
  margin-left: 5px;
}

.top-rank a[href$="other"] {
  letter-spacing: 0;
}

.container {
  max-width: 980px;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: block; /* ブロック要素に変換 */
  clear: both;
}
